aiohttp==3.7.3
alembic==1.5.4
amqp==5.0.2
amqplib==1.0.2
aniso8601==7.0.0
apache-airflow==2.0.1
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.1
apispec==3.3.2
appnope==0.1.2
APScheduler==3.6.3
argcomplete==1.12.2
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
begins==0.9
billiard==3.6.3.0
bleach==3.3.0
blessings==1.7
boto3==1.16.28
botocore==1.19.28
bpython==0.20.1
cached-property==1.5.2
cachetools==4.2.1
cattrs==1.0.0
celery==5.0.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
chromedriver-binary==92.0.4515.107.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
clickclick==20.10.2
colorama==0.4.4
coloredlogs==14.0
colorlog==4.7.2
commonmark==0.9.1
configparser==3.5.3
connexion==2.7.0
constantly==15.1.0
crayons==0.4.0
crochet==1.12.0
croniter==0.3.37
cryptography==3.4.5
cssselect==1.1.0
curtsies==0.3.4
dagit==0.11.13
dagster==0.11.13
dagster-graphql==0.11.13
decorator==5.0.9
defusedxml==0.6.0
dill==0.3.3
Django==3.1.4
django-bulk-update-or-create==0.3.0
django-celery-results==2.0.0
django-cors-headers==3.7.0
django-crispy-forms==1.10.0
django-crontab==0.7.1
django-erd==1.0
django-extensions==3.1.2
django-polymorphic==3.0.0
djangorestframework==3.12.2
dnspython==1.16.0
docopt==0.6.2
docstring-parser==0.7.1
docutils==0.16
editdistance==0.5.3
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==3.1.1
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.9.0
Flask-Cors==3.0.10
Flask-GraphQL==2.0.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
funcsigs==1.0.2
future==0.18.2
fuzzy-matcher==0.1.0
fuzzywuzzy==0.18.0
gevent==21.1.2
gevent-websocket==0.10.1
google-auth==1.27.0
gql==2.0.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
graphql-ws==0.3.1
graphviz==0.16
greenlet==0.4.17
grpcio==1.38.0
grpcio-health-checking==1.38.0
gunicorn==19.10.0
html5lib==1.1
humanfriendly==9.2
hyperlink==20.0.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==1.7.0
importlib-resources==1.5.0
incremental==17.5.0
inflection==0.5.1
iniconfig==1.1.1
install==1.3.4
ipython==7.16.1
ipython-genutils==0.2.0
iso8601==0.1.14
itemadapter==0.2.0
itemloaders==1.0.4
items==0.6.5
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
json-merge-patch==0.2
jsonfield==3.1.0
jsonschema==3.2.0
jupyter-core==4.7.1
keepa==1.1.0
kombu==5.0.2
kubernetes==12.0.1
lazy-object-proxy==1.4.3
line-profiler==3.3.0
lockfile==0.12.2
lxml==4.6.2
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
mechanize==0.4.5
mistune==0.8.4
multidict==5.1.0
mws==0.8.10
mysqlclient==2.0.2
natsort==7.1.1
nbconvert==5.6.1
nbformat==5.1.3
nulltype==2.3.1
numpy==1.19.5
oauthlib==3.1.0
openapi-spec-validator==0.2.9
opencv-python==4.5.2.54
openpyxl==3.0.5
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
pendulum==2.1.2
pep562==1.0
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
pika==1.1.0
Pillow==8.3.1
pipreqs==0.4.10
pluggy==0.13.1
prison==0.1.3
promise==2.3
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.8.0
PyHamcrest==2.0.2
PyJWT==1.7.1
PyMySQL==0.10.1
pyOpenSSL==20.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
python-daemon==2.2.4
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.5
pytzdata==2020.1
PyYAML==5.4.1
queuelib==1.5.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rich==9.2.0
rsa==4.7.1
Rx==1.6.1
s3transfer==0.3.3
Scrapy==2.4.1
scrapy-djangoitem==1.1.1
scrapy-proxies==0.4
scrapy-proxy==0.3
scrapy-rotating-proxies==0.6.2
Scrapy-UserAgents==0.0.1
scrapyd==1.2.1
selenium==3.141.0
service-identity==18.1.0
setproctitle==1.2.2
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.23
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.1
swagger-ui-bundle==0.0.8
tabulate==0.8.7
tenacity==6.2.0
termcolor==1.1.0
testpath==0.5.0
text-unidecode==1.3
thrift==0.13.0
toml==0.10.2
toposort==1.6
tqdm==4.54.1
traitlets==4.3.3
Twisted==20.3.0
typing==3.7.4.3
typing-compat==0.1.0
typing-extensions==3.7.4.3
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.11
vine==5.0.0
w3lib==1.22.0
watchdog==2.1.2
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==2.0.1
yarg==0.1.9
yarl==1.6.3
zipp==3.4.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.interface==5.2.0
